<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD-H_w2vBOGwhCdXV62KhP5b5UdJls_PWw</string>
	<key>GCM_SENDER_ID</key>
	<string>330438498685</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.iea.pluv</string>
	<key>PROJECT_ID</key>
	<string>pluv-16c7b</string>
	<key>STORAGE_BUCKET</key>
	<string>pluv-16c7b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:330438498685:ios:79d02a126ff1e80b825414</string>
</dict>
</plist>